body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.sousTitre{
    font-size: 25px;
    text-decoration-line: underline;
}

span{
    color: #ff00c0;
    font-size: 20px;
}

.border{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}